@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap"); /* Poppins */
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black'); /* ICA Rubrick Black */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); /* Lato */


* 
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

*, 
*::before, 
*::after 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

header.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 16px); /* Para conseguir navegar pela scrollbar */
    height: 125px;
    position: fixed;
    z-index: 2;
    padding: 10px 50px; /* _ vertical _ horizontal */
}

header.header .hamburguer
{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

header.header ul.menu
{
    list-style: none;
}

header.header ul.menu li
{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize; /* Transforma primeira letra de cada palavra em maiúscula*/
    display: inline-block; /* Inline: elemento em linha; block: permite definir altura e largura*/
    color: #fff;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

header.header ul.menu li:not(:last-child) /* Todos elementos exceto último */
{
    margin-right: 35px;
}

header.header .search
{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.side
{
    position: fixed;
    color: #fff;
    width: 100%;
    height: 100%;
    width: calc(100% - 16px); /* Para conseguir mexer na scrollbar */
    z-index: 1;
}

.side ul.social
{
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%); /* Centralizar verticalmente à tela em relação a si */
    font-size: 24px;
}

.side ul.social li
{
    padding: 20px;
    cursor: pointer;
}

.feature
{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature .feature-card
{
    text-decoration-thickness: 25%; /* Espessura do sublinhado*/
    padding: 40px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
}

.feature .feature-card:not(:last-child) 
{
    margin-right: 20px;
}

.feature .feature-card h5
{
    font-size: 14px;
    line-height: 22px;
    font-weight: 700; /* Espessura da fonte 100:lighter; 400: normal; 700: bold */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    margin-bottom: 15px;
}

.feature .feature-card i /* Ícone */
{
    margin-right: 2px;
    font-size: 16px;
}

.feature .feature-card p
{
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    margin-bottom: 0;
}

body 
{
    background: #0a2a43;
    min-height: 15000px;  /* Bastante altura pra que o scroll e o efeito parallax funcionem */
}

.s-initial
{
    position: relative; /* as imgs com 'position: absolute;' vão usar essa section como referência de posição. */
    width: 100%;
    height: 100vh; 
    overflow: hidden; /* impede que elementos "vazem"  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-initial:before /* pseudoelemento, irá aparecer antes do conteúdo da section*/
{
    content: ''; /*Ativa o elemento para poder aplicar estilos nele. Sem isso, nada aparece. */ 
    position: absolute; /*Fora do fluxo do layout */ 
    bottom: 0; /* Para que fique na parte debaixo da section*/
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000; /*Coloca a camada acima de tudo */
}

.s-initial:after
{
    content: '';
    position: absolute;
    top: 0; /* Define que começará no topo */ 
    left: 0; /* Define que começará à esquerda */ 
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10000; /* Mesma camada que o before*/
    mix-blend-mode: color; /* Mistura a cor com os elementos*/
}

.s-initial img 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Redimensiona para cobrir toda a área, mantendo a proporção. */
  pointer-events: none;  /* Não impedirá a interação com outros elementos abaixo dela. */
}

#texto
{
    position: relative;
    color: #fff;
    font-size: 8vw;
    z-index: 1;
}

#montanha_direita
{
    z-index: 3;

}

#estrada
{
    z-index: 2;
}

.s-hero img
{
    width: 50px;
    height: 50px;
    display: block;
    max-width: 100%;
}

.s-hero
{
    position: relative; /* Para poder mexer na position da img */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        &.mochila { /* & significa o seletor-pai (s-tasks) */
            top: 15%;
            left: 20%;
        }
        &.mapa  {
            top: 10%;
            right: 20%;
        }
        &.fogueira {
            bottom: 15%;
            left: 25%;
        }
        &.kombi {
            top: 15%;
            left: 20%;
        }
        &.moeda {
            top: 10%;
            right: 20%;
        }
        &.grafico {
            bottom: 15%;
            left: 25%;
        }
}

h1 {
    position: absolute; 
    height: 100%; 
    display: flex;
    flex-wrap: wrap;    /* Quebrar linha se preciso */
    display: flex; /* span é inline por default. Por isso temos que mudar isso para que o efeito das letras apareça */
    
    span {
        
        color: #fff;
        font-size: 6rem;
    }
}

.s-hero .conteudo
{
    display: flex;
    width: 40%;
    justify-content: end;
}

.s-tasks
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #263140;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    h1 {
        color: #fff;
        font-size: 6rem;
    }
}



.banner
{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden; /* Corta os elementos que 'escapam' */
    position: relative;
}

.banner .slider
{
    position: absolute; /* Move com precisão em relação ao elemento pai (banner) */
    width: 200px; /* referente às imagens  */
    height: 200px; /* também referente às imagens */
    top: 28%;
    left: calc(50% - 100px); /* Para centralizar (100px equivale a metade de width) */
    transform-style: preserve-3d; /* 3 dimensões, dando efeito 3D.
    Em CSS, podemos mover um elemento em 2 direções, tanto no eixo X como Y; entretanto, também podemos dar
    profundidade a eles: eixo Z */
    transform: perspective(1000px); /* Distância em relação Z do elemento */
    animation: autoRun 20s linear infinite; /* 20s para terminar o ciclo; linear: velocidade constante do início ao fim;
    infinite: animação entra em loop*/
    z-index: 2;
}

@keyframes autoRun
{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg); /* Início da animação */
    }to{ /* fim da animação */
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg); /* tanto X como Y, traz a visualização de seus ângulos.
        Sinal - para visualização mais acima  */
    }
}

.banner .slider .item
{
    position: absolute; /* Para fixar */
    inset: 0 0 0 0; /* Shortand para top, rigth, bottom e left. Isso resultará tamanho e posição como a classe slider */
    transform: 
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg)) /*rotateY: Gira cada item em torno do eixo;
    (position - 1): identifica a posição atual do item (começando em 0);  (360 / quantity): divide a circunferência de 360° de
    forma igual para os itens; *1deg: faz funcionar o rotateY, declarando a unidade em graus e garantindo que o resultado também seja. */
    translateZ(550px); /* Para formar a circunferência */

}

.banner .slider .item img
{
    width: 100%; /* Igual ao .item */
    height: 100%; /* Também igual ao .item */
    border-radius: 20px;
    object-fit: cover; /* Evitar distorção (preenche completamente o contêiner) */
    
}

.content
{
    position: absolute; /* Para fixar no banner sem afetar o slider */
    left: 50%; /* Posiciona no centro do elemento pai (banner) */
    transform: translateX(-50%); /* Fará o elemento deslocar 50% dele mesmo para a esquerda */
    width: min(1400px, 100vw); /* Telas > 1400px: elemento = 1400px; Telas < 1400px: 100% da largura da tela */
    height: 100%; /* Ajuste ao conteúdo */
    padding-bottom: 100px; /* Distância extra */
    display: flex;
    flex-wrap: wrap;    /* Quebrar linha se preciso */
    justify-content: space-between;
    align-items: start;
    z-index: 1;
}

.content h1
{
    font-family: 'ICA Rubrik', sans-serif;
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}

.content h1::after
{
    position: absolute;
    inset: 0 0 0 0;  /* mesma posição que h1 */
    content: attr(data-content);  /* Declarando o conteúdo */
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;  /* Borda */
    color: transparent;
}

.content .descricao 
{
    font-family: 'Poppins', sans-serif;
    text-align: right;
    max-width: 300px;
}

.content h2
{
    font-size: 3em;
}

/*
.content .model
{
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%; 
    background-repeat: no-repeat; 
    background-position: top center; 
    z-index: 1;

    background-size _ _ = largura altura. Então largura será automática e altura ultrapassára a do elemento pai .content
    background-repeat: no-repeat; 
}
*/