@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap"); /* Poppins */

* 
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

*, 
*::before, 
*::after 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

.logo 
{
    width: 100px;
}

header 
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Opacidade */
    background-color: transparent;
}

header nav
{
    max-width: 1400px;
    margin: 0 auto; /* Centraliza dentro do header */
    padding: 0 2rem; /* 0 para cima e embaixo e 2rem aos lados */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header ul 
{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a
{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase; /* Transforma em maiúsculo */
    font-weight: 300; /* Espessura */
    font-size: 0.83rem; /* Tamanho */
}

.pesquisa a
{
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburguer
{
    padding-left: 1.5rem;
}

.hamburguer a
{
    padding: 0; /* Removendo o padding para que a forma não fique em elipse */
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%; /* Transforma em círculo */
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px); /* Efeito de desfoque no fundo; px define a intensidade */
    -webkit-backdrop-filter: blur(10px); /* Garante compatibilidade com os navegadores baseados em WebKit */
    justify-content: center; /* Irá auxiliar a estilização da classe .bar, assim como align-items */
    align-items: center;
}

.hamburguer .bar 
{
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburguer .bar::before, 
.hamburguer .bar::after 
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Alinhar ao meio do eixo X*/
    width: 60%;
    height: 50%;
    background-color: inherit;
    border-radius: 2px;
    
}

.hamburguer .bar::before
{
    top: -4.5px; /*Para ficar encima */
}

.hamburguer .bar::after
{
    top: 4.5px; /* Oposto do before */
}

body 
{
    background: #0a2a43;
    min-height: 15000px;  /* Bastante altura pra que o scroll e o efeito parallax funcionem */
}

.s-initial
{
    position: relative; /* as imgs com 'position: absolute;' vão usar essa section como referência de posição. */
    width: 100%;
    height: 100vh; 
    overflow: hidden; /* impede que elementos "vazem"  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-initial:before /* pseudoelemento, irá aparecer antes do conteúdo da section*/
{
    content: ''; /*Ativa o elemento para poder aplicar estilos nele. Sem isso, nada aparece. */ 
    position: absolute; /*Fora do fluxo do layout */ 
    bottom: 0; /* Para que fique na parte debaixo da section*/
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000; /*Coloca a camada acima de tudo */
}

.s-initial:after
{
    content: '';
    position: absolute;
    top: 0; /* Define que começará no topo */ 
    left: 0; /* Define que começará à esquerda */ 
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10000; /* Mesma camada que o before*/
    mix-blend-mode: color; /* Mistura a cor com os elementos*/
}

.s-initial img 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Redimensiona para cobrir toda a área, mantendo a proporção. */
  pointer-events: none;  /* Não impedirá a interação com outros elementos abaixo dela. */
}

#texto
{
    position: relative;
    color: #fff;
    font-size: 8vw;
    z-index: 1;
}

#estrada
{
    z-index: 2;
}

.s-tasks img
{
    width: 50px;
    height: 50px;
    display: block;
    max-width: 100%;
}

.s-hero
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        display: flex; /* span é inline por default. Por isso temos que mudar isso para que o efeito das letras apareça */
        span {
            color: #fff;
            font-size: 6rem;
        }
    }
}

.s-tasks
{
    position: relative; /* Para poder mexer na position da img */
    width: 100%;
    height: 100vh;
    background: #263140;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        position: absolute;
        &.html { /* & significa o seletor-pai (s-tasks) */
            top: 15%;
            left: 20%;
        }
        &.css  {
            top: 10%;
            right: 20%;
        }
        &.js {
            bottom: 15%;
            left: 25%;
        }
    }
    h1 {
        color: #fff;
        font-size: 6rem;
    }
}